*{margin: 0;padding: 0; box-sizing: border-box;}

body{
    background-image: url(./space-smell-2.jpg);
    background-repeat: no-repeat;
        background-attachment: fixed;
 background-position: center,center;
    background-size: cover;
}
.my-div{
    max-width: 100px;
    position: absolute;
    transition: 0.2 ease-out;
}
.my-div img {
    max-width: 100px;
    
}

